<!--Elements-->
<div id="demo-elements" class="tab-content has-text-left is-active">
    <div class="columns is-multiline">
        <div class="column is-3">
            <a href="_components-basicui-badges.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/badges.svg" alt="">
                </div>
                <div class="component-title">Badges & Labels</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-advancedui-boxes.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/boxes.svg" alt="">
                </div>
                <div class="component-title">Boxes</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-basicui-buttons.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/buttons.svg" alt="">
                </div>
                <div class="component-title">Buttons</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-basicui-lists.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/lists.svg" alt="">
                </div>
                <div class="component-title">Lists</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-advancedui-messages.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/messages.svg" alt="">
                </div>
                <div class="component-title">Messages</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-advancedui-tables.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/tables.svg" alt="">
                </div>
                <div class="component-title">Tables</div>
            </a>
        </div>
    </div>

</div>

<!--Components-->
<div id="demo-components" class="tab-content has-text-left">
    <div class="columns is-multiline">
        <div class="column is-3">
            <a href="_components-basicui-accordion.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/accordion.svg" alt="">
                </div>
                <div class="component-title">Accordions</div>
            </a>
        </div>
        <!--Item-->
        <div class="column is-3">
            <a href="_components-basicui-cards.html" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/cards.svg" alt="">
                </div>
                <div class="component-title">Cards</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-basicui-dropdowns.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/dropdowns.svg" alt="">
                </div>
                <div class="component-title">Dropdowns</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-basicui-modals.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/modals.svg" alt="">
                </div>
                <div class="component-title">Modals</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-basicui-popups.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/popups.svg" alt="">
                </div>
                <div class="component-title">Popups</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-basicui-tabs.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/tabs.svg" alt="">
                </div>
                <div class="component-title">Tabs</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-advancedui-timeline.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/timeline.svg" alt="">
                </div>
                <div class="component-title">Timelines</div>
            </a>
        </div>
    </div>
</div>

<!--Forms-->
<div id="demo-forms" class="tab-content has-text-left">
    <div class="columns is-multiline">
        <div class="column is-3">
            <a href="_components-forms-inputs.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/inputs.svg" alt="">
                </div>
                <div class="component-title">Inputs</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-forms-controls.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/controls.svg" alt="">
                </div>
                <div class="component-title">Controls</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-forms-layouts.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/forms.svg" alt="">
                </div>
                <div class="component-title">Form Layouts</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-forms-steps.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/steps.svg" alt="">
                </div>
                <div class="component-title">Form Steps</div>
            </a>
        </div>
    
        <div class="column is-3">
            <a href="_components-forms-uploader.html" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/uploader.svg" alt="">
                </div>
                <div class="component-title">File Uploader</div>
            </a>
        </div>
    </div>
</div>

<!--Sections-->
<div id="demo-sections" class="tab-content has-text-left">
    <div class="columns is-multiline">
        <div class="column is-3">
            <a href="_components-sections-features.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/features.svg" alt="">
                </div>
                <div class="component-title">Features</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-pricing.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/pricing.svg" alt="">
                </div>
                <div class="component-title">Pricing</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-team.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/team.svg" alt="">
                </div>
                <div class="component-title">Team</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-testimonials.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/testimonials.svg" alt="">
                </div>
                <div class="component-title">Testimonials</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-clients.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/clients.svg" alt="">
                </div>
                <div class="component-title">Clients</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-faq.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/faq.svg" alt="">
                </div>
                <div class="component-title">FAQ</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-counters.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/counters.svg" alt="">
                </div>
                <div class="component-title">Counters</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-carousel.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/carousel.svg" alt="">
                </div>
                <div class="component-title">Carousels</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-cta.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/cta.svg" alt="">
                </div>
                <div class="component-title">Call to Action</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-posts.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/posts.svg" alt="">
                </div>
                <div class="component-title">Posts</div>
            </a>
        </div>

        <div class="column is-3">
            <a href="_components-sections-video.html" target="_blank" class="component-box">
                <div class="component">
                    <img src="assets/img/graphics/components/videos.svg" alt="">
                </div>
                <div class="component-title">Video</div>
            </a>
        </div>
    </div>

</div>