<!-- Navigation menu -->
<div id="demo-pages" class="navigation-menu-wrapper animated preFadeInRight fadeInRight">
    <!-- Navigation Header -->
    <div class="navigation-menu-header">
        <span>Demo pages</span>
        <a class="ml-auto hamburger-btn navigation-close" href="javascript:void(0);">
            <span class="menu-toggle">
                <span class="icon-box-toggle">
                    <span class="rotate">
                        <i class="icon-line-top"></i>
                        <i class="icon-line-center"></i>
                        <i class="icon-line-bottom"></i>
                    </span>
                </span>
            </span>
        </a>
    </div>
    <!-- Navigation Body -->
    <ul class="navigation-menu">
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">weekend</span>Agency</a>
            <ul>
                <li><a class="is-submenu" href="/agency-home.html">Homepage</a></li>
                <li><a class="is-submenu" href="/agency-about.html">About</a></li>
                <li><a class="is-submenu" href="/agency-portfolio.html">Portfolio</a></li>
                <li><a class="is-submenu" href="/agency-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/agency-blog.html">Blog</a></li>
                <li><a class="is-submenu" href="/agency-post-nosidebar.html">Post no sidebar</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">wb_incandescent</span>Startup</a>
            <ul>
                <li><a class="is-submenu" href="/startup-landing.html">Homepage</a></li>
                <li><a class="is-submenu" href="/startup-about.html">About</a></li>
                <li><a class="is-submenu" href="/startup-product.html">Product</a></li>
                <li><a class="is-submenu" href="/startup-contact.html">Contact</a></li>
                <li><a class="is-submenu" href="/startup-login.html">Login</a></li>
                <li><a class="is-submenu" href="/startup-signup.html">Sign up</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">apps</span>Software</a>
            <ul>
                <li><a class="is-submenu" href="/kit15-landing-5.html">Conference v1</a></li>
                <li><a class="is-submenu" href="/kit15-landing-6.html">Conference v2</a></li>
                <li><a class="is-submenu" href="/kit1-landing.html">Projects v1</a></li>
                <li><a class="is-submenu" href="/kit1-landing-2.html">Healthcare v1</a></li>
                <li><a class="is-submenu" href="/kit1-landing-3.html">Healthcare v2</a></li>
                <li><a class="is-submenu" href="/kit1-landing-4.html">Business v1</a></li>
                <li><a class="is-submenu" href="/kit1-landing-5.html">Business v2</a></li>
                <li><a class="is-submenu" href="/kit1-landing-6.html">Business v3</a></li>
                <li><a class="is-submenu" href="/kit1-landing-7.html">Business v4</a></li>
                <li><a class="is-submenu" href="/kit1-landing-8.html">Business v5</a></li>
                <li><a class="is-submenu" href="/kit1-landing-9.html">Business v6</a></li>
                <li><a class="is-submenu" href="/kit1-landing-10.html">Business v7</a></li>
                <li><a class="is-submenu" href="/kit1-landing-11.html">Business v8</a></li>
                <li><a class="is-submenu" href="/kit1-landing-12.html">Business v9</a></li>
                <li><a class="is-submenu" href="/kit1-landing-13.html">Business 10</a></li>
                <li><a class="is-submenu" href="/kit1-features.html">Features v1</a></li>
                <li><a class="is-submenu" href="/kit1-features-2.html">Features v2</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">timer</span>Freelancer</a>
            <ul>
                <li><a class="is-submenu" href="/kit2-landing-9.html">Freelancer v1</a></li>
                <li><a class="is-submenu" href="/kit2-landing.html">Freelancer v2</a></li>
                <li><a class="is-submenu" href="/kit2-landing-2.html">Freelancer v3</a></li>
                <li><a class="is-submenu" href="/kit2-landing-3.html">Freelancer v4</a></li>
                <li><a class="is-submenu" href="/kit2-landing-10.html">Freelancer v5</a></li>
                <li><a class="is-submenu" href="/kit2-landing-11.html">Freelancer v6</a></li>
                <li><a class="is-submenu" href="/kit2-landing-4.html">Freelancer v7</a></li>
                <li><a class="is-submenu" href="/kit2-landing-5.html">Freelancer v8</a></li>
                <li><a class="is-submenu" href="/kit2-landing-6.html">Freelancer v9</a></li>
                <li><a class="is-submenu" href="/kit2-landing-7.html">Freelancer v10</a></li>
                <li><a class="is-submenu" href="/kit2-landing-8.html">Freelancer v11</a></li>
                <li><a class="is-submenu" href="/kit2-features.html">Features v1</a></li>
                <li><a class="is-submenu" href="/kit2-features-2.html">Features v2</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">voice_chat</span>Videoconference</a>
            <ul>
                <li><a class="is-submenu" href="/kit16-landing.html">Videoconference v1</a></li>
                <li><a class="is-submenu" href="/kit16-landing-2.html">Videoconference v2</a></li>
                <li><a class="is-submenu" href="/kit16-landing-3.html">Videoconference v3</a></li>
                <li><a class="is-submenu" href="/kit3-landing.html">Chat v1</a></li>
                <li><a class="is-submenu" href="/kit3-landing-2.html">Chat v2</a></li>
                <li><a class="is-submenu" href="/kit3-features.html">Features v1</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">domain</span>Business</a>
            <ul>
                <li><a class="is-submenu" href="/kit17-landing.html">Crypto v1</a></li>
                <li><a class="is-submenu" href="/kit17-landing-2.html">Crypto v2</a></li>
                <li><a class="is-submenu" href="/kit17-landing-3.html">Crypto v3</a></li>
                <li><a class="is-submenu" href="/kit17-landing-4.html">Crypto v4</a></li>
                <li><a class="is-submenu" href="/kit15-landing.html">Business v1</a></li>
                <li><a class="is-submenu" href="/kit15-landing-2.html">Business v2</a></li>
                <li><a class="is-submenu" href="/kit15-landing-3.html">Business v3</a></li>
                <li><a class="is-submenu" href="/kit15-landing-4.html">Business v4</a></li>
                <li><a class="is-submenu" href="/kit10-landing.html">Banking v1</a></li>
                <li><a class="is-submenu" href="/kit10-landing-2.html">Banking v2</a></li>
                <li><a class="is-submenu" href="/kit10-landing-3.html">Banking v3</a></li>
                <li><a class="is-submenu" href="/kit18-landing.html">Car Rental v1</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">shopping_cart</span>Ecommerce</a>
            <ul>
                <li><a class="is-submenu" href="/commerce-home.html">Shop page</a></li>
                <li><a class="is-submenu" href="/commerce-product-landing.html">Landing page</a></li>
                <li><a class="is-submenu" href="/commerce-product-landing-2.html">Landing page</a></li>
                <li><a class="is-submenu" href="/commerce-product-1.html">Product page</a></li>
                <li><a class="is-submenu" href="/commerce-cart.html">Cart</a></li>
                <li><a class="is-submenu" href="/commerce-payment-flow.html">Payment</a></li>
                <li><a class="is-submenu" href="/kit11-landing.html">SaaS v1</a></li>
                <li><a class="is-submenu" href="/kit11-landing-2.html">SaaS v2</a></li>
                <li><a class="is-submenu" href="/kit11-landing-3.html">SaaS v3</a></li>
                <li><a class="is-submenu" href="/kit11-landing-4.html">SaaS v4</a></li>
                <li><a class="is-submenu" href="/kit11-landing-5.html">SaaS v5</a></li>
                <li><a class="is-submenu" href="/kit11-landing-6.html">SaaS v6</a></li>
                <li><a class="is-submenu" href="/kit11-landing-7.html">SaaS v7</a></li>
                <li><a class="is-submenu" href="/kit11-landing-8.html">SaaS v8</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">mouse</span>Services</a>
            <ul>
                <li><a class="is-submenu" href="kit12-landing.html">Consulting v1</a></li>
                <li><a class="is-submenu" href="kit12-landing-2.html">Consulting v2</a></li>
                <li><a class="is-submenu" href="kit12-landing-3.html">Consulting v3</a></li>
                <li><a class="is-submenu" href="kit12-landing-4.html">Consulting v4</a></li>
                <li><a class="is-submenu" href="kit4-landing.html">HR v1</a></li>
                <li><a class="is-submenu" href="kit4-landing-2.html">HR v2</a></li>
                <li><a class="is-submenu" href="kit5-landing.html">Collaboration v1</a></li>
                <li><a class="is-submenu" href="kit5-features.html">Collaboration v2</a></li>
                <li><a class="is-submenu" href="kit6-landing.html">Collaboration v3</a></li>
            </ul>
        </li>
        <li class="has-children"><a class="parent-link" href="#"><span class="material-icons">work</span>Jobs</a>
            <ul>
                <li><a class="is-submenu" href="/kit13-landing.html">Jobs v1</a></li>
                <li><a class="is-submenu" href="/kit13-landing-2.html">Jobs v2</a></li>
                <li><a class="is-submenu" href="/kit8-landing.html">Work v1</a></li>
                <li><a class="is-submenu" href="/kit8-landing-1.html">Work v2</a></li>
                <li><a class="is-submenu" href="/kit8-landing-5.html">Work v3</a></li>
                <li><a class="is-submenu" href="/kit8-landing-2.html">Work v4</a></li>
                <li><a class="is-submenu" href="/kit8-landing-6.html">Work v5</a></li>
                <li><a class="is-submenu" href="/kit8-landing-3.html">Work v6</a></li>
                <li><a class="is-submenu" href="/kit8-landing-4.html">Work v7</a></li>
                <li><a class="is-submenu" href="/kit14-landing.html">Development v1</a></li>
                <li><a class="is-submenu" href="/kit14-landing-3.html">Development v2</a></li>
                <li><a class="is-submenu" href="/kit14-landing-2.html">Development v3</a></li>
            </ul>
        </li>
        <li class="has-children">
            <a class="parent-link" href="#">
                <span class="material-icons">people</span>Customers</a>
            <ul>
                <li><a class="is-submenu" href="/kit7-landing.html">CRM v1</a></li>
                <li><a class="is-submenu" href="/kit7-landing-alt.html">CRM v2</a></li>
                <li><a class="is-submenu" href="/kit7-landing-3.html">CRM v3</a></li>
                <li><a class="is-submenu" href="/kit7-landing-4.html">CRM v4</a></li>
                <li><a class="is-submenu" href="/kit7-landing-5.html">CRM v5</a></li>
                <li><a class="is-submenu" href="/kit9-landing.html">CRM v6</a></li>
                <li><a class="is-submenu" href="/kit9-landing-2.html">CRM v7</a></li>
                <li><a class="is-submenu" href="/kit9-landing-3.html">CRM v8</a></li>
                <li><a class="is-submenu" href="/kit9-landing-4.html">CRM v9</a></li>
                <li><a class="is-submenu" href="/kit8-jobs.html">Job List</a></li>
            </ul>
        </li>
    </ul>
</div>