<!-- Side footer -->
<footer class="footer footer-light-left">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="mb-20">
                    <img class="small-footer-logo" src="assets/img/logos/bulkit-logo-g.png" alt="">
                </div>
                <div>
                    <span class="moto">  Together we can do so much <i class="fa fa-heart color-red"></i></span>
                    <nav class="level is-mobile mt-20">
                        <div class="level-left level-social">
                            <a href="#" class="level-item">
                                <span class="icon"><i class="fa fa-facebook"></i></span>
                            </a>
                            <a href="#" class="level-item">
                                <span class="icon"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a href="#" class="level-item">
                                <span class="icon"><i class="fa fa-linkedin"></i></span>
                            </a>
                            <a href="#" class="level-item">
                                <span class="icon"><i class="fa fa-dribbble"></i></span>
                            </a>
                            <a href="#" class="level-item">
                                <span class="icon"><i class="fa fa-github"></i></span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="column">
                <div class="footer-nav-right">
                    <a class="footer-nav-link" href="index.html">Home</a>
                    <a class="footer-nav-link" href="about.html">About</a>
                    <a class="footer-nav-link" href="contact.html">Contact</a>
                    <a class="footer-nav-link" href="signup.html">Sign Up</a>
                    <a class="footer-nav-link" href="login.html">Log In</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Side footer -->