<div class="morphing-blob-wrapper is-blob-1">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-2">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-3">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-4">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-5">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-6">
    {{> morphing-blob}}
</div>
<div class="morphing-blob-wrapper is-blob-7">
    {{> morphing-blob}}
</div>