<nav class="navbar navbar-landing is-transparent nav-light is-fixed-top is-faded">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="light-logo" src="assets/img/logos/logo/bulkit-square-white.svg" width="28" height="28" alt="">
                <img class="dark-logo switcher-logo-square is-hidden" src="assets/img/logos/logo/bulkit-square-core.svg" width="28" height="28" alt="">
            </a>

            <!-- Sidebar Trigger -->
            <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                <span class="menu-toggle">
                    <span class="icon-box-toggle">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="#services" class="navbar-item has-hover scroll-link">
                    Services
                </a>

                <a href="#about" class="navbar-item has-hover scroll-link">
                    About
                </a>

                <a href="#news" class="navbar-item has-hover scroll-link">
                    News
                </a>
            </div>

            <div class="navbar-end has-hover">
                <a href="#contact" class="navbar-item scroll-link">
                    Help
                </a>
                <div class="navbar-item">
                    <a href="#contact" class="button button-cta primary-btn is-bold raised scroll-link">Contact</a>
                </div>
            </div>
        </div>
    </div>
</nav>