<nav class="navbar navbar-landing nav-light is-transparent is-fixed-top is-faded">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="light-logo" src="assets/img/logos/logo/bulkit-square-white.svg" width="28" height="28" alt="">
                <img class="dark-logo switcher-logo-square is-hidden" src="assets/img/logos/logo/bulkit-square-core.svg" width="28" height="28" alt="">
            </a>

            <!-- Sidebar Trigger -->
            <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                <span class="menu-toggle">
                    <span class="icon-box-toggle">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="#main-features" class="navbar-item has-hover scroll-link">
                    Features
                </a>

                <a href="#pricing" class="navbar-item has-hover scroll-link">
                    Pricing
                </a>
            </div>

            <div class="navbar-end has-hover">
                <a class="navbar-item">
                    Login
                </a>
                <div class="navbar-item">
                    <a href="#" class="button button-signup is-bold  primary-btn">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</nav>