<div class="navbar-item has-dropdown is-hoverable is-mega is-hidden-mobile">
    <div class="navbar-link">
        Jobs
    </div>
    <div class="navbar-dropdown is-megamenu animated prefadeInUp fadeInUp" data-style="width: 18rem;">
        <div class="mega-inner">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h2 class="title is-6 is-mega-menu-title">Developer jobs</h2>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Server"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">Backend</small>
                                </p>
                                <p>Backend developers</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Wifi-Keyboard"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">Frontend</small>
                                </p>
                                <p>Frontend developers</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Smartphone-4"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">Mobile</small>
                                </p>
                                <p>Mobile developers</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h2 class="title is-6 is-mega-menu-title">Business jobs</h2>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Financial"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">Finance</small>
                                </p>
                                <p>Finance jobs</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Find-User"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">HR</small>
                                </p>
                                <p>HR jobs</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Megaphone"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">Marketing</small>
                                </p>
                                <p>Marketing jobs</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h2 class="title is-6 is-mega-menu-title">Design jobs</h2>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Sidebar-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">UI Design</small>
                                </p>
                                <p>UI Designers</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="kit8-jobs.html">
                            <i class="im im-icon-Note"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-primary">UX Design</small>
                                </p>
                                <p>UX Designers</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h2 class="title is-6 is-mega-menu-title">More jobs</h2>
                        <p class="is-cta">This is a wonderful menu description item. It can be used as a CTA.</p>
                        <p class="is-cta">
                            <a href="#" class="button btn-align mega-btn primary-btn">Learn more</a>
                        </p>
                    </div>
                </div>
            </div>

            <hr class="navbar-divider">
            <div class="navbar-item is-footer is-hidden-mobile">
                <div class="navbar-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <strong>Follow us</strong>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="social-link" href="#"><i class="fa fa-twitter"></i></a>
                                <a class="social-link" href="#"><i class="fa fa-facebook"></i></a>
                                <a class="social-link" href="#"><i class="fa fa-behance"></i></a>
                                <a class="social-link" href="#"><i class="fa fa-github"></i></a>
                                <a class="social-link" href="#"><i class="fa fa-tumblr"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-image is-hidden-mobile">
                <img src="assets/img/graphics/legacy/megamenu-core.svg"
                    data-base-url="assets/img/graphics/legacy/megamenu" data-extension=".svg" alt="">
            </div>
        </div>
    </div>
</div>