<div id="style-switcher" class="style-switcher visible">
    <div class="switcher-close">
        <i class="material-icons">close</i>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="core" name="theme_selector" checked>
        <div class="style-dot-inner"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="purple" name="theme_selector">
        <div class="style-dot-inner is-purple"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="teal" name="theme_selector">
        <div class="style-dot-inner is-teal"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="green" name="theme_selector">
        <div class="style-dot-inner is-green"></div>
    </div>
    
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="azur" name="theme_selector">
        <div class="style-dot-inner is-azur"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="blue" name="theme_selector">
        <div class="style-dot-inner is-blue"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="night" name="theme_selector">
        <div class="style-dot-inner is-night"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="yellow" name="theme_selector">
        <div class="style-dot-inner is-yellow"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="orange" name="theme_selector">
        <div class="style-dot-inner is-orange"></div>
    </div>
    <!--Main Theme-->
    <div class="style-dot">
        <input type="radio" id="red" name="theme_selector">
        <div class="style-dot-inner is-red"></div>
    </div>
</div>