<!-- Concatenated jQuery and plugins -->
<script src="{{ root }}assets/js/app.js"></script>

<!-- Bulkit js -->
<script src="{{ root }}assets/js/functions.js"></script>
<script src="{{ root }}assets/js/auth.js"></script>
<script src="{{ root }}assets/js/contact.js"></script>
<script src="{{ root }}assets/js/main.js"></script>

<!-- Landing page js -->
{{#ifpage 'index'}}
<script src="{{ root }}assets/js/index.js"></script>
{{/ifpage}}

<!-- Commerce pages js -->
{{#ifpage 'commerce-product-1' 'commerce-home-v1' 'commerce-product-landing' 'commerce-product-landing-2'}}
<script src="{{ root }}assets/js/commerce.js"></script>
{{/ifpage}}