<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GLPNMKRZ0E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GLPNMKRZ0E');
</script>
</head>


<div class="navbar-item">
  <div class="dropdown account-dropdown is-right">
    <div class="dropdown-trigger">
      <button
        class="button"
        aria-haspopup="true"
        aria-controls="dropdown-menu6"
      >
        <img
          class="avatar"
          src="https://via.placeholder.com/250x250"
          alt=""
          data-demo-src="assets/img/avatars/helen.jpg"
        />
        <h1 id="un" style="padding-left:10px;">Username</h1>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu6" role="menu">
      <div class="dropdown-content">
        <a href="profile.html" class="dropdown-item">
          <i class="sl sl-icon-user"></i>
          <div class="meta">
            <span>My Account</span>
            <span>View my account</span>
          </div>
        </a>
        <!-- <a href="#" class="dropdown-item">
          <i class="sl sl-icon-layers"></i>
          <div class="meta">
            <span>My Projects</span>
            <span>View my projects</span>
          </div>
        </a>
        <a href="#" class="dropdown-item">
          <i class="sl sl-icon-people"></i>
          <div class="meta">
            <span>My Contacts</span>
            <span>View my contacts</span>
          </div>
        </a> -->
        <a href="message.html" class="dropdown-item">
          <i class="im im-icon-Mail"></i>
          <div class="meta">
            <span>Message</span>
            <span>you conversation</span>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="index.html" onclick="logout();" class="dropdown-item">
          <i class="sl sl-icon-logout"></i>
          <div class="meta">
            <span>Log out</span>
            <span>Logout from account</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<script>

function logout()
{
  localStorage.setItem("isLogin", false)
  localStorage.setItem("user", "")
};

document.getElementById("un").innerHTML= JSON.parse(localStorage.getItem('user')).first_name + " " + JSON.parse(localStorage.getItem('user')).last_name;
</script>  