<div class="navbar-item mobile-account">
  <div class="dropdown account-dropdown is-right">
    <div class="dropdown-trigger">
      <button
        class="button"
        aria-haspopup="true"
        aria-controls="dropdown-menu6"
      >
        <img
          class="avatar"
          src="https://via.placeholder.com/250x250"
          alt=""
          data-demo-src="assets/img/avatars/helen.jpg"
        />
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="profile-4.html" class="dropdown-item">
          <i class="sl sl-icon-user"></i>
          <div class="meta">
            <span>My Account</span>
            <span>View my account</span>
          </div>
        </a>
        <a href="profile-6.html" class="dropdown-item">
          <i class="sl sl-icon-present"></i>
          <div class="meta">
            <span>My Orders</span>
            <span>View my orders</span>
          </div>
        </a>
        <a href="profile-5.html" class="dropdown-item">
          <i class="sl sl-icon-location"></i>
          <div class="meta">
            <span>Addresses</span>
            <span>View my addresses</span>
          </div>
        </a>
        <a href="profile-4.html" class="dropdown-item">
          <i class="sl sl-icon-lock"></i>
          <div class="meta">
            <span>Security</span>
            <span>Change Password</span>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <i class="sl sl-icon-logout"></i>
          <div class="meta">
            <span>Log out</span>
            <span>Logout from account</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
