<div class="navbar-dropdown is-boxed is-medium">
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/agency-home.html">
        <i class="material-icons">weekend</i>
        <span>Agency Kit</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/startup-landing.html">
        <i class="material-icons">wb_incandescent</i>
        <span>Startup Kit</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit1-landing.html">
        <i class="material-icons">apps</i>
        <span>Landing Kit 1</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit2-landing.html">
        <i class="material-icons">timelapse</i>
        <span>Landing Kit 2</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit3-landing.html">
        <i class="material-icons">assistant</i>
        <span>Landing Kit 3</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit4-landing.html">
        <i class="material-icons">brightness_2</i>
        <span>Landing Kit 4</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit5-landing.html">
        <i class="material-icons">toys</i>
        <span>Landing Kit 5</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit6-landing.html">
        <i class="material-icons">mouse</i>
        <span>Landing Kit 6</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit7-landing.html">
        <i class="material-icons">work</i>
        <span>Landing Kit 7</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit8-landing.html">
        <i class="material-icons">public</i>
        <span>Landing Kit 8</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit9-landing.html">
        <i class="material-icons">assessment</i>
        <span>Landing Kit 9</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit10-landing.html">
        <i class="material-icons">account_balance</i>
        <span>Landing Kit 10</span>
    </a>
    <!-- Dropdown item -->
    <a class="navbar-item is-menu" href="/kit11-landing.html">
        <i class="material-icons">shop</i>
        <span>Landing Kit 11</span>
    </a>
</div>