<div class="child-menu">
    <ul>
        <li>
            <a href="/agency-home.html">Agency kit</a>
        </li>
        <li>
            <a href="/startup-landing.html">Startup kit</a>
        </li>
        <li>
            <a href="/kit1-landing.html">Landing kit 1</a>
        </li>
        <li>
            <a href="/kit2-landing.html">Landing kit 2</a>
        </li>
        <li>
            <a href="/kit3-landing.html">Landing kit 3</a>
        </li>
        <li>
            <a href="/kit4-landing.html">Landing kit 4</a>
        </li>
        <li>
            <a href="/kit5-landing.html">Landing kit 5</a>
        </li>
        <li>
            <a href="/kit6-landing.html">Landing kit 6</a>
        </li>
        <li>
            <a href="/kit7-landing.html">Landing kit 7</a>
        </li>
        <li>
            <a href="/kit8-landing.html">Landing kit 8</a>
        </li>
        <li>
            <a href="/kit9-landing.html">Landing kit 9</a>
        </li>
        <li>
            <a href="/kit10-landing.html">Landing kit 10</a>
        </li>
        <li>
            <a href="/kit11-landing.html">Landing kit 11</a>
        </li>
    </ul>
</div>