<div class="navbar-item is-wishlist">
    <div class="wishlist-button">
        <i data-feather="heart"></i>
        <div class="cart-count">
        </div>
    </div>

    <!-- Cart dropdown -->
    <div class="shopping-wishlist">
        <div class="wishlist-inner">

            <!--Loader-->
            <div class="navbar-cart-loader is-active">
                <div class="loader is-loading"></div>
            </div>

            <div class="wishlist-header">
                <h4 class="header-title">Wishlists</h4>
                <div class="wishlist-total">
                    <span class="main-color-text">11 products</span>
                </div>
            </div>
    
            <ul class="wishlist-items">
                <li class="wishlist-row">
                    <span class="wishlist-block">
                        <i data-feather="heart"></i>
                    </span>
                    <span class="item-meta">
                        <span class="item-name">Headsets</span>
                        <span class="meta-info">
                            <span class="wishlist-quantity">4 products</span>
                        </span>
                    </span>
                </li>
    
                <li class="wishlist-row">
                    <span class="wishlist-block">
                        <i data-feather="heart"></i>
                    </span>
                    <span class="item-meta">
                        <span class="item-name">Microphones</span>
                        <span class="meta-info">
                            <span class="wishlist-quantity">1 product</span>
                        </span>
                    </span>
                </li>
    
                <li class="wishlist-row">
                    <span class="wishlist-block">
                        <i data-feather="heart"></i>
                    </span>
                    <span class="item-meta">
                        <span class="item-name">Monitors</span>
                        <span class="meta-info">
                            <span class="wishlist-quantity">6 products</span>
                        </span>
                    </span>
                </li>
            </ul>
    
            <a href="#" class="button primary-btn btn-align raised">View All</a>
        </div>
    </div>
</div>