<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Pak-Imdaad  {{title}}</title>
        <link rel="icon" type="image/png" href="assets/img/favicon.png" />

        <!--Core CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
        <link rel="stylesheet" href="{{root}}assets/css/core.css">

    </head>
    <body class="is-theme-core">
        {{> pageloader}}
        {{> body}}
        {{> style-switcher}}
        
        <script src="{{ root }}assets/js/app.js"></script>
        <script src="{{ root }}assets/js/core.js"></script>
    </body>
</html>
