<nav class="navbar navbar-wrapper navbar-default navbar-fade is-transparent">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="switcher-logo" src="assets/img/logos/logo/bulkit-core.svg" alt="">
            </a>

            <!-- Sidebar Trigger -->
            <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                <span class="menu-toggle">	
                    <span class="icon-box-toggle"> 	
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i> 
                        </span>
                    </span>
                </span>
            </a>

            <!-- Responsive toggle -->
            <div class="custom-burger" data-target="nav-menu">
                <a class="responsive-btn" href="javascript:void(0);">
                    <span class="menu-toggle">	
                        <span class="icon-box-toggle"> 	
                            <span class="rotate">
                                <i class="icon-line-top"></i>
                                <i class="icon-line-center"></i>
                                <i class="icon-line-bottom"></i> 
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <!-- /Responsive toggle -->
        </div>

        <!-- Navbar menu -->
        <div id="nav-menu" class="navbar-menu">
            <!-- Navbar Start -->
            <div class="navbar-start">
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="startup-product.html">
                    Product
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="startup-about.html">
                    About
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="startup-login.html">
                    Login
                </a>
            </div>

            <!-- Navbar end -->
            <div class="navbar-end">
                <!-- Signup button -->
                <div class="navbar-item">
                    <a id="#signup-btn" href="startup-signup.html" class="button button-signup btn-outlined is-bold btn-align primary-btn rounded raised">
                        Sign up
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>