<nav class="navbar navbar-wrapper navbar-default navbar-fade is-transparent">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img class="switcher-logo" src="assets/img/logos/logo/bulkit-core.svg" alt="">
            </a>

            <!-- Sidebar Trigger -->
            <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                <span class="menu-toggle">
                    <span class="icon-box-toggle">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </span>
            </a>

            <!-- Responsive toggle -->
            <div class="custom-burger" data-target="">
                <a id="" class="responsive-btn" href="javascript:void(0);">
                    <span class="menu-toggle">
                        <span class="icon-box-toggle">
                            <span class="rotate">
                                <i class="icon-line-top"></i>
                                <i class="icon-line-center"></i>
                                <i class="icon-line-bottom"></i>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <!-- /Responsive toggle -->
        </div>

        <!-- Navbar menu -->
        <div class="navbar-menu">
            <!-- Navbar Start -->
            <div class="navbar-start">
                <!-- Navbar item -->
                <a class="navbar-item is-slide scroll-link" href="kit15-landing.html#solution">
                    Solution
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide scroll-link" href="kit15-landing.html#use-cases">
                    Use Cases
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="kit15-about.html">
                    About
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide scroll-link" href="kit15-contact.html">
                    Contact
                </a>
            </div>

            <!-- Navbar end -->
            <div class="navbar-end">
                <!-- Signup button -->
                <div class="navbar-item is-button">
                    <a id="#signup-btn" href="kit15-contact.html"
                        class="button button-cta is-bold btn-align primary-btn raised">
                        Free Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>