<nav class="navbar navbar-wrapper navbar-default navbar-fade is-transparent">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="assets/img/logos/bulkit-purple.svg" alt="">
            </a>

            <!-- Sidebar Trigger -->
            <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                <span class="menu-toggle">
                    <span class="icon-box-toggle">
                        <span class="rotate">
                            <i class="icon-line-top"></i>
                            <i class="icon-line-center"></i>
                            <i class="icon-line-bottom"></i>
                        </span>
                    </span>
                </span>
            </a>

            <!-- Responsive toggle -->
            <div class="custom-burger" data-target="">
                <a id="" class="responsive-btn" href="javascript:void(0);">
                    <span class="menu-toggle">
                        <span class="icon-box-toggle">
                            <span class="rotate">
                                <i class="icon-line-top"></i>
                                <i class="icon-line-center"></i>
                                <i class="icon-line-bottom"></i>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <!-- /Responsive toggle -->
        </div>

        <!-- Navbar menu -->
        <div class="navbar-menu">
            <!-- Navbar Start -->
            <div class="navbar-start">
                <!-- Dropdown -->
                <div class="navbar-item has-dropdown is-hoverable is-hidden-mobile">
                    <a class="navbar-link" href="#demos">
                        Demos
                    </a>
                    {{> desktop-dropdown}}
                </div>
                <!-- Mobile dropdown -->
                <div class="mobile-drop is-hidden-desktop">
                    <div class="mobile-drop-trigger">
                        Demos <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                    {{> mobile-dropdown}}
                </div>
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="https://docs.bulkit.cssninja.io/" target="_blank">
                    Docs
                </a>
                <!-- Navbar item -->
                <a class="navbar-item is-slide" href="https://cssninja.io/" target="_blank">
                    Help
                </a>
            </div>
            <!-- Navbar end -->
            <div class="navbar-end">
                <!-- Signup button -->
                <div class="navbar-item">
                    <a id="#signup-btn" href="https://1.envato.market/c/1288816/275988/4415?subId1=button&subId2=banner&subId3=https%3A%2F%2Fthemeforest.net%2Fitem%2Fbulkit-agency-startup-and-saas-template%2F21278677&u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fbulkit-agency-startup-and-saas-template%2F21278677" class="button button-cta btn-outlined is-bold btn-align secondary-btn rounded raised">
                        Buy now
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>